header.row {
  justify-content: space-between;
  align-items: center;
}
.header {
  // .header__number

  &__number {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: right;
  }
}
.header-link {
  width: 251px;
  img {
    max-width: 100%;
  }
}
.header-official {
  text-align: center;
  font-size: 12px;
  color: rgb(255, 255, 255);

  &__span {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-top: 12px;
  }
}
.header-btn {
  width: 150px;
  min-height: 30px;
  margin-left: auto;

  font-size: 12px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;

  margin-top: 8px;
}
