@media (max-width: 1200px) {
  .container {
    max-width: 870px;
  }
  .carousel {
    .next {
      right: -10px;
    }
    .prev {
      left: -10px;
    }
  }
  .catalog {
    &__content_active {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 59px -5px 0;
    }
    &-item {
      max-width: 282px;
      margin: 0 5px 10px;
      padding: 20px 10px 27px;
    }
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 650px;
  }
  .header {
    &-link {
      width: 245px;
    }
    &-official {
      display: none;
    }
    &__number {
      font-size: 17px;
    }
  }
  .promo {
    background-position: 25% 0;
    &-title {
      margin-top: 80px;
    }
    &__select {
      font-size: 38px;
    }
    &__descr {
      font-size: 22px;
    }
    &-work {
      &__img {
        width: 37px;
      }
      &__text {
        font-size: 13px;
      }
    }
    &-btn {
      width: 280px;
      height: 49px;
      font-size: 15px;
    }
  }
  .advantage {
    padding: 42px 0;
    &-row {
      margin: 0 -56px;
      margin-top: 45px;
      align-items: baseline;
    }
    &-item {
      padding: 0 15px;
    }
    &-descr {
      font-size: 16px;
      margin-top: 17px;
    }
    &-text {
      margin-top: 10px;
    }
    &-img {
      width: 60px;
    }
  }
  .title {
    font-size: 28px;
  }
  .consultation {
    min-height: auto;
    padding: 50px 0;
    &__descr {
      margin-top: 40px;
    }
    &-form {
      width: 280px;
      margin-top: 30px;
      & input {
        height: 45px;
      }
    }
    &_btn {
      font-size: 15px;
      height: 49px;
    }
  }
  .carousel {
    .next,
    .prev {
      display: none;
    }
  }
  .tns-outer {
    position: relative;
  }
  .tns-nav {
    position: absolute;
    bottom: -30px;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #000;
      margin: 0 5px;
    }
    &-active {
      background-color: #000;
    }
  }
  .catalog {
    &__tabs {
      margin-top: 40px;
    }
    &__tab {
      width: 175px;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 520px;
  }
  .header {
    &-link {
      width: 200px;
    }
    &__number {
      font-size: 14px;
    }
    &-btn {
      width: 126px;
      font-size: 10px;
    }
  }
  .promo {
    padding-bottom: 58px;
    &-title {
      margin-top: 75px;
    }
    &__select {
      font-size: 30px;
    }
    &__descr {
      font-size: 17px;
      margin-top: 8px;
    }
    &-work {
      &__body {
        width: 92px;
        margin: 0 0 0 43px;
      }
      &__img {
        width: 30px;
      }
      &__text {
        font-size: 12px;
      }
    }
    &-btn {
      width: 215px;
      height: 40px;
      font-size: 12px;
    }
    &-link {
      margin: 16px 0 0 0;
      font-size: 14px;
    }
  }
  .advantage {
    padding: 25px 0;
    &-row {
      margin: 0 -13px;
      margin-top: 29px;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      width: 279px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      // padding: 0 12px;
    }
    &-img {
      width: 48px;
    }
    &-descr {
      font-size: 15px;
    }
    &-text {
      margin-top: 6px;
      font-size: 13px;
    }
  }
  .title {
    font-size: 22px;
  }
  .consultation {
    padding: 30px 0;
    &__descr {
      margin-top: 22px;
      font-size: 16px;
    }
    &-form {
      margin-top: 20px;
    }
  }
  .tns-nav button {
    width: 12px;
    height: 12px;
  }
  .catalog {
    padding-bottom: 59px;
    &__tabs {
      margin-top: 22px;
    }
    &__tab {
      width: 156px;
      height: 36px;
      line-height: 36px;
      font-size: 13px;
    }
    &__content_active {
      margin-top: 25px;
    }
    &-item {
      max-width: 255px;
      min-height: 351px;
      padding: 20px 10px 16px;
      &__img {
        height: 160px;
        img {
          height: 100%;
        }
      }
      &__subtitle {
        margin-top: 11px;
        font-size: 13px;
      }
      &__descr {
        margin-top: 10px;
        font-size: 11px;
      }
      &__link {
        margin-top: 14px;
        font-size: 11px;
      }
      &__line {
        margin-top: 16px;
      }
      &__oldPrice {
        font-size: 11px;
      }
      &__newPrice {
        font-size: 16px;
      }
      &__btn {
        width: 108px;
        height: 34px;
        font-size: 14px;
      }
      &__listItem {
        font-size: 11px;
        margin-bottom: 15px;
      }
      &__back {
        font-size: 11px;
      }
      &__footer {
        margin-top: 16px;
      }
    }
  }
  .review {
    padding-bottom: 50px;
    &__wrapper {
      margin-top: 40px;
    }
    &-item {
      flex-direction: column;
      margin-bottom: 50px;
      &__img {
        margin-right: 0;
        img {
          width: 120px;
          height: 120px;
        }
      }
      &__rightBlock {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
      }
      &__name {
        font-size: 16px;
      }
      &__subtitle {
        font-size: 12px;
      }
      &__text {
        font-size: 14px;
        p {
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 290px;
  }
  .header {
    &-link {
      width: 144px;
    }
    &__number {
      display: none;
    }
    &-btn {
      margin: 0;
      font-size: 8px;
      width: 105px;
      min-height: 25px;
    }
  }
  .promo {
    padding: 20px 0px;
    &__select {
      font-size: 21px;
      text-align: center;
    }
    &__descr {
      font-size: 12px;
      margin: 8px 0 0 0;
      text-align: center;
    }
    &-work {
      &_m {
        justify-content: space-between;
      }
      &__body {
        width: 80px;
        margin: 0;
      }
      &__text {
        font-size: 10px;
      }
    }
    &-btn {
      margin: 67px auto 0;
      width: 169px;
      height: 34px;
      font-size: 10px;
    }
    &-link {
      font-size: 11px;
      text-align: center;
      margin: 11px 0 0 0;
    }
  }
  .advantage {
    &-row {
      margin: 30px 0 0 0;
      flex-direction: column;
      align-items: center;
    }
    &-item {
      width: 279px;
      padding: 0 23px;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &-descr {
      margin-top: 10px;
    }
  }
  .title {
    font-size: 18px;
  }
  .consultation {
    padding: 20px 0;
    &__descr {
      margin-top: 11px;
      font-size: 13px;
    }
    &-form {
      width: 100%;
      margin-top: 11px;
      & input {
        font-size: 12px;
        margin-bottom: 10px;
        &:nth-child(3) {
          margin-bottom: 10px;
        }
      }
    }
    &_btn {
      font-size: 12px;
    }
  }
  .white_title {
    line-height: 1.5rem;
  }
  .tns-nav button {
    width: 10px;
    height: 10px;
  }
  .catalog {
    padding-bottom: 30px;
    &__tab {
      width: 100%;
      font-size: 11px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__tabs {
      flex-direction: column;
      margin-top: 15px;
      padding: 0 25px;
    }
    &__content_active {
      margin-top: 15px;
    }
    &-item {
      min-height: 319px;
      &__descr {
        display: none;
      }
    }
  }
  .review {
    padding-bottom: 30px;
    &__wrapper {
      margin-top: 25px;
    }
    &-item {
      margin-bottom: 25px;
      &__img {
        img {
          width: 86px;
          height: 86px;
        }
      }
      &__rightBlock {
        max-width: 260px;
        margin-top: 17px;
      }
      &__subtitle {
        margin-top: 8px;
      }
      &__text {
        margin-top: 10px;
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}
