@import "fonts";
@import "nullstyle";
@import "variables";

* {
  font-family: "Museo Sans", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
.row {
  display: flex;
}

.btn {
  display: block;
  border-radius: 5px;
  background-color: $redColor;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
//Header
@import "header";
//promo
@import "blocks/promo";

//title
.title {
  font-size: 30px;
  color: #0d0d0d;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

//advantage
@import "blocks/advantage";

//media
@import "media";
