@import "fonts";
@import "nullstyle";
@import "variables";

* {
  font-family: "Museo Sans", sans-serif;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
.row {
  display: flex;
}

.btn {
  display: block;
  border-radius: 5px;
  background-color: $redColor;
}
//Header
@import "header";

.promo {
  background: url(../img/promo/bg1.jpg) center (center/cover) no-repeat;
  min-height: 650px;
  &_p {
    padding: 21px 0px 93px 0px;
  }
  &-title {
    margin-top: 90px;
    text-align: right;
    color: #fff;
  }
  &__select {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
  }
  &__descr {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;

    margin-top: 18px;
  }
}

//promo-work
.promo-work {
  &_m {
    margin-top: 67px;
    justify-content: flex-end;
    align-items: center;
  }
  &__body {
    width: 108px;
    text-align: center;
    margin: 0px 0px 0px 71px;
  }
  &__img {
    width: 42px;
    overflow: hidden;
    margin: 0 auto;
    img {
      max-width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }
}
//promo-work end
