@import "fonts";
@import "nullstyle";
@import "variables";

* {
  font-family: "Museo Sans", sans-serif;
}
.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
.row {
  display: flex;
}

.btn {
  display: block;
  border-radius: 5px;
  background-color: $redColor;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
//title
.title {
  font-size: 30px;
  color: #0d0d0d;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
//Header
@import "header";
//promo
@import "blocks/promo";
//advantage
@import "blocks/advantage";
//consultation
@import "blocks/consultation";
///carousel
@import "blocks/carousel";
//catalog
@import "blocks/catalog";
//review
@import "blocks/review";
//media
@import "media";
