.advantage {
  background-color: #f6f6f6;
  padding: 69px 0;
  &-row {
    justify-content: center;
    margin: 0 -30px;
    margin-top: 65px;
  }
  &-item {
    width: 279px;
    padding: 0 30px;
    color: #0d0d0d;
    text-align: center;
  }
  &-img {
    width: 70px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  &-descr {
    font-weight: 700;
    font-size: 18px;
    margin-top: 38px;
  }
  &-text {
    font-weight: 300;
    font-size: 14px;
    margin-top: 27px;
  }
  &__link {
    color: #ff0000;
    text-decoration-line: underline;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heart {
    &_animate {
      animation: heartbit 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  &__shoe {
    &_animate {
      animation: shoeRotate 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  &__cup {
    &_animate {
      animation: cupRotate 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes heartbit {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shoeRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes cupRotate {
  from {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
