.advantage {
  background-color: #f6f6f6;
  padding: 69px 0;
  &-row {
    justify-content: center;
    align-items: center;
    margin: 0 -30px;
    margin-top: 65px;
  }
  &-item {
    width: 279px;
    padding: 0 30px;
    color: #0d0d0d;
    text-align: center;
  }
  &-img {
    width: 70px;
    margin: 0 auto;
  }
  &-descr {
    font-weight: 700;
    font-size: 18px;
    margin-top: 38px;
  }
  &-text {
    font-weight: 300;
    font-size: 14px;
    margin-top: 27px;
  }
  &-span {
    color: #ff0000;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}
