.carousel {
  padding: 81px 0;
  .slick-prev,
  .slick-next {
    position: absolute;
    border: none;
    background-color: #fff;
    width: 31px;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 100%;
    }
  }
  .slick-prev {
    left: -66px;
  }
  .slick-next {
    right: -66px;
  }
  .slick-slide {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    li {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #9d9d9d;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      margin-right: 20px;
      transition: all 0.2s;
      &:last-child {
        margin-right: 0;
      }
    }
    li.slick-active button,
    li.slick-active {
      transition: all 0.2s;
      background-color: $redColor;
      color: #fff;
      border-color: $redColor;
    }
  }
}
