.carousel {
  padding: 81px 0;
  &__inner {
    // position: relative;
    // img {
    //   max-width: 100%;
    //   display: block;
    //   margin: 0 auto;
    // }
  }
  .prev,
  .next {
    position: absolute;
    border: none;
    background-color: #fff;
    width: 31px;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 100%;
    }
  }
  .prev {
    left: -66px;
  }
  .next {
    right: -66px;
  }
  .tns-item {
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  // .slick-dots {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 25px;
  //   li {
  //     margin-right: 20px;
  //     &:last-child {
  //       margin-right: 0;
  //     }
  //   }
  // }
}
